html, body, h1, h2, h3, h4, h5, li, ul, ol, input, select, div, p{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: "Raleway","Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    
}
html, body {
    font-size: 62.5%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
  background: url(images/space_background.jpg) no-repeat fixed;
  background-size: 100% 100%;
  overflow: hidden;
}

@mixin rotateAnimation ($params) {
    -webkit-animation: $params;
    -moz-animation: $params;
    -ms-animation: $params;
    -o-animation: $params;
    animation: $params;
}
@mixin planetGradient ($params...) {
  background: -webkit-radial-gradient($params);
  background: -o-radial-gradient($params);
  background: -moz-radial-gradient($params);
  background: radial-gradient($params);
}

//spacecraft exhaust fire sprite below
@-webkit-keyframes rocket {
  from{opacity: 1;
   background-position: 0 0;}
  to{opacity: 1;
   background-position: -90px 0;}
}
@keyframes rocket {
  from{opacity: 1;
   background-position: 0 0;}
  to{opacity: 1;
   background-position: -90px 0;}
}

//animation for information popup below
@-webkit-keyframes informationIn {
   from{display: block;
   transform: scale(0.01);
}
   to{display: block;
   transform: scale(1);}
}

@keyframes informationIn {
 from{display: block;
   transform: scale(0.01);
}
   to{display: block;
   transform: scale(1);}
}

// animation planet zoom on hover below
@-webkit-keyframes planetZoom {
   from{transform: scale(1);
}
   to{transform: scale(1.5);}
}
@keyframes planetZoom {
   from{transform: scale(1);
}
   to{transform: scale(1.5);}
}

.earth {
    display: block;
    position: relative;
    background-size: 100% 100%;
}
.zoom-animation {
    display: block;
    -webkit-animation-name: informationIn;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
}

.zoom-control {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 40px;
    right: 0;
    cursor: pointer;
    @media screen and (max-width: 600px) {
           bottom: 18px;
        }
}

.list {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    p {
        font-size: 2em;
        color: #fff;
    }
    img {
        width: 50px;
        height: 50px;
    }
    ul {
        background: #000;
        text-align: center;
        li {
            text-align: center;
            padding: 10px;
            display: inline-block;
            cursor: pointer;
            &:hover p {
                color: #0ff;
                text-shadow: 0 0 10px #00FFDD;
            }
        }
    }
    
}

p.interactive-text {
    text-align: center;
    display: block;
    color: #fff;
    font-size: 6em;
    margin: 200px auto;
    white-space: nowrap;
    right: 0;
    text-shadow: 0 0 10px #000;
    @media screen and (max-width: 600px) {
            font-size: 3em;
        }
}

p.instructions {
    display: none;
    text-align: center;
    color: #fff;
    font-size: 4em;
    margin: 50px auto;
    text-shadow: 0 0 10px #000;
    @media screen and (max-width: 600px) {
            font-size: 2em;
        }
}


.header {
    width: 100%;
    height: 35px;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    &:hover .blue-hover {
                color: #0ff;
                text-shadow: 0 0 10px #00FFDD;
            }
    @media screen and (max-width: 600px) {
           
        }
    h2 {
        color: #fff;
        font-size: 2em;
        margin: 10px 0 0 10px;
        float: left;
    }
    .right {
        float: right;
    }
    div {
        margin: -25px 5px 0 10px;
        position: relative;
        float: right;
        p {
            font-size: 12em;
            color: #fff;
            line-height: 9px;
        }
    }
}
.footer {
    width: 100%;
    height: 35px;
    background: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    &:hover p {
                color: #0ff;
                text-shadow: 0 0 10px #00FFDD;
            }
    @media screen and (max-width: 600px) {
           height: 18px;
        }
    p {
        margin: 10px 10px 0 10px;
        color: #fff;
        font-size: 2em;
        @media screen and (max-width: 600px) {
           margin: 0;
        }
    }
}

#container {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


#info-window {
    overflow: auto;
    position: relative;
    display: none;
    width: 900px;
    max-height: 80%;
    margin: 50px auto;
    background: #000;
    border-radius: 50px;
    padding: 40px;
    box-shadow: 0 0 50px -10px #fff;
    -webkit-animation-name: informationIn;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    &:hover h2 {
        color: #0ff;
        text-shadow: 0 0 10px #00FFDD;
    }
    @media screen and (max-width: 1000px) {
            overflow-Y: scroll;
            border-radius: 0;
            width: 90%;
            bottom: 0;
            margin: 30px auto;
            padding: 10px;
        }
    #current-planet {
        height: 200px;
        width: 200px;
        float: left;
        margin-right: 50px;
        @media screen and (max-width: 590px) {
            float: none;
            margin: 0 auto;
        }
    }
    .name {
        color: #777;
        font-size: 15em;
        margin-top: 50px;
        text-align: center;
        padding-right: 250px;
        text-shadow: 5px 5px 10px #222;
        font-weight: 100;
        font-family: "raleway","Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
        @media screen and (max-width: 1000px) {
            margin-top: 10px;
            padding: 10px;
            float: left;
            clear: left;
        }
        @media screen and (max-width: 600px) {
            font-size: 8em;
        }
    }
    .description {
        text-indent: 3em;
        padding-top: 10px;
        font-weight: normal;
        font-style: normal;
        font-family: "raleway","Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
        color: #fff;
        font-size: 3em;
        float: left;
        clear: left;
        @media screen and (max-width: 600px) {
            font-size: 2.3em;
        }
    }
    h4 {
        padding-top: 20px;
        display: block;
        color: #fff;
        font-size: 2.5em;
        clear: left;
    }
    h2 {
        position: relative;
        text-align: center;
        color: #fff;
        font-size: 4em;
        cursor: pointer;
    }
}



#sun {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px; 
    margin-left: -75px;
    @include planetGradient(circle, #FFFEB3 20%, #FFFC38 50%, #FFCE47 70%);
    box-shadow: 0 0 200px 10px #ff0, 0 0 50px 10px #ff9500;
    overflow: visible;
    cursor: pointer;
}

#planet {
    &:hover {
        -webkit-animation-name: planetZoom;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-fill-mode: forwards;
    }
}

#mercury-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    border-radius: 50%;
    @include rotateAnimation(spin-right 5s linear infinite);
     #planet {
        z-index: 2;
        position: absolute;
        top: 100%;
        left: 50%;
        @include planetGradient(circle, #444 60%, #FFA600 65%);
        border-radius: 50%;
        height: 20px;
        width: 20px;
        margin-left: -10px;
        margin-top: -10px;
        box-shadow: inset 0 -20px 20px -10px #000, inset 0 10px 10px -5px #f00;
        cursor: pointer;
     }
}
#venus-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    margin-top: -125px;
    margin-left: -125px;
    border-radius: 50%;
    @include rotateAnimation(spin-right 8s linear infinite);
     #planet {
        position: absolute;
        top: 50%;
        left: 100%;
        @include planetGradient(circle, #CFAA76 40%, #B3823E 65%);
        border-radius: 50%;
        height: 25px;
        width: 25px;
        margin-left: -12.5px;
        margin-top: -12.5px;
        box-shadow: 0 0 10px #fff, inset -30px 0px 30px -20px #000, inset 20px 0px 20px -10px #FF6A00;
        cursor: pointer;
     }
}
#earth-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 340px;
    height: 340px;
    margin-top: -170px;
    margin-left: -170px;
    border-radius: 50%;
    @include rotateAnimation(spin-right 10s linear infinite);
     #planet {
        position: absolute;
        top: 50%;
        left: 0;
        @include planetGradient(circle, #004FCF 60%, #8A5A00 65%, #129900 67%);
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-left: -20px;
        margin-top: -20px;
        box-shadow: 0 0 20px #fff, inset 50px 0px 50px -35px #000, inset -50px 0px 50px -50px #96F8FF;
        cursor: pointer;

        .moon-orbit {
            position: relative;
            top: 50%;
            left: 50%;
            width: 78px;
            height: 78px;
            margin-top: -37px;
            margin-left: -37px;
            border-radius: 50%;
            @include rotateAnimation(spin-right 13s linear infinite);
             .moon {
                position: relative;
                top: 0;
                left: 50%;
                @include planetGradient(circle, #444 60%, #222 65%);
                border-radius: 50%;
                height: 15px;
                width: 15px;
                margin-left: -7.5px;
                margin-top: -7.5px;
                
             }
             .satellite {
                background: url(images/satellite.png);
                background-size: 100% 100%;
                position: relative;
                top: 60px;
                left: 40px;
                height: 10px;
                width: 10px;
                margin-left: -5px;
                margin-top: -5px;
                
             }
        }
        
     }
}
#mars-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 450px;
    margin-top: -225px;
    margin-left: -225px;
    border-radius: 50%;
    @include rotateAnimation(spin-right 12s linear infinite);
     #planet {
        position: absolute;
        top: 50%;
        left: 0;
        @include planetGradient(circle, #CC3300 55%, #8A5A00 65%);
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-left: -15px;
        margin-top: -15px;
        box-shadow: 0 0 10px #fff, inset 50px 0px 50px -40px #000, inset -30px 0px 30px -20px #FFBC5E;
        cursor: pointer;
     }
}
#jupiter-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-top: -300px;
    margin-left: -300px;
    border-radius: 50%;
    @include rotateAnimation(spin-right 20s linear infinite);
     #planet {
        position: absolute;
        top: 100%;
        left: 50%;
        @include planetGradient(circle, #FFB78A 55%, #756E5A 65%);
        border-radius: 50%;
        height: 70px;
        width: 70px;
        margin-left: -35px;
        margin-top: -35px;
        box-shadow: 0 0 30px #fff, inset 0px -60px 60px -30px #000, inset 0px 40px 40px -30px #FFD4B5;
        cursor: pointer;

        .moon-orbit {
            position: relative;
            top: 50%;
            left: 50%;
            width: 120px;
            height: 120px;
            margin-top: -60px;
            margin-left: -60px;
            border-radius: 50%;
            @include rotateAnimation(spin-right 8s linear infinite);
             .moon {
                position: relative;
                top: 0;
                left: 50%;
                @include planetGradient(circle, #333 60%, #111 65%);
                border-radius: 50%;
                height: 20px;
                width: 20px;
                margin-left: -10px;
                margin-top: -10px;
                
             }
        }
     }
}
#saturn-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 750px;
    height: 750px;
    margin-top: -375px;
    margin-left: -375px;
    border-radius: 50%;
    @include rotateAnimation(spin-right 25s linear infinite);
     #planet {
        position: absolute;
        top: 0;
        left: 50%;
        @include planetGradient(circle, #A39B84 30%, #756E5A 40%, transparent 40%, transparent 48%, rgba(100, 100, 100, 0.8) 50%,
         rgba(100, 100, 100, 0.4) 51%, rgba(100, 100, 100, 0.8) 52%, rgba(100, 100, 100, 0.6) 53%, rgba(100, 100, 100, 0.8) 53.5%,
          rgba(100, 100, 100, 0.6) 55%, rgba(100, 100, 100, 0.8) 56%, rgba(100, 100, 100, 0.5) 56%, rgba(100, 100, 100, 0.8) 60%,
           rgba(100, 100, 100, 0.3) 61%, rgba(100, 100, 100, 0.5) 62%, rgba(100, 100, 100, 0.2) 63%, rgba(100, 100, 100, 0.5) 65%, transparent 70%);
        
        border-radius: 50%;
        height: 80px;
        width: 80px;
        margin-left: -40px;
        margin-top: -40px;
        box-shadow: inset 0px 50px 50px -30px #000;
        cursor: pointer;
     }
}
#uranus-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 850px;
    height: 850px;
    margin-top: -425px;
    margin-left: -425px;
    border-radius: 50%;
    @include rotateAnimation(spin-right 40s linear infinite);
     #planet {
        position: absolute;
        top: 0;
        left: 50%;
        @include planetGradient(circle, #63E6D8 60%, #3FB0A5 65%);
        
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin-left: -25px;
        margin-top: -25px;
        box-shadow: 0 0 20px #fff, inset 0px 50px 50px -30px #000, inset 0 -50px 50px -30px #96FFF5;
        cursor: pointer;
     }
}
#neptune-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1100px;
    height: 1100px;
    margin-top: -550px;
    margin-left: -550px;
    border-radius: 50%;
    @include rotateAnimation(spin-right 70s linear infinite);
     #planet {
        position: absolute;
        top: 0;
        left: 50%;
        @include planetGradient(circle, #2660BD 60%, #164694 65%);
        
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin-left: -25px;
        margin-top: -25px;
        box-shadow: 0 0 30px #fff, inset 0px 50px 50px -30px #000, inset 0 -50px 50px -30px #96B8FF;
        cursor: pointer;
     }
}
#rocket-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1500px;
    height: 1500px;
    margin-top: -180px;
    margin-left: -860px;
    border-radius: 50%;
    @include rotateAnimation(spin-right 17s linear 2s infinite);
     #rocket-icon {
        opacity: 0;
        position: absolute;
        top: -20px;
        left: 55%;
        margin-left: -10px;
        margin-top: -2px;
        transform: rotate(90deg);
        background: url('images/fire_small.png');
        -webkit-animation: rocket 0.6s steps(6) infinite 2s;
        animation: rocket 0.6s steps(6) infinite;
        margin-right: 50px;
        width: 15px;
        height: 30px;
     }
     .capsule {
        background: url('images/capsule.png');
        background-size: 100% 100%;
        position: absolute;
        top: -10px;
        left: 55%;
        margin-left: -16px;
        margin-top: -18px;
        width: 30px;
        height: 30px;
     }
}
#comet-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3000px;
    height: 3000px;
    margin-top: -2800px;
    margin-left: -2000px;
    border-radius: 50%;
    @include rotateAnimation(spin-right 15s linear infinite);
     #comet {
        position: absolute;
        top: 0;
        left: 50%;
        @include planetGradient(circle, #999 60%, #fff 65%);
        
        border-radius: 50%;
        height: 10px;
        width: 10px;
        margin-left: -7.5px;
        margin-top: -7.5px;
        box-shadow: 0 0 20px 0 #7DA6FF, -10px 0 15px 0px #7DA6FF, -20px 0 13px 0px rgba(250, 250,250,0.5),
         -30px 0 10px 0px rgba(250, 250,250,0.4), -40px 0 5px 0px rgba(250, 250,250,0.3), -55px 0 3px 0px rgba(250, 250,250,0.3);
     }
}
#comet2-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4000px;
    height: 4000px;
    margin-top: -1000px;
    margin-left: -3500px;
    border-radius: 50%;
    @include rotateAnimation(spin-right 20s linear infinite);
     #comet2 {
        position: absolute;
        top: 0;
        left: 50%;
        @include planetGradient(circle, #999 60%, #f00 65%);
        
        border-radius: 50%;
        height: 8px;
        width: 8px;
        margin-left: -7.5px;
        margin-top: -7.5px;
        box-shadow: 0 0 20px #f00, -0px 0px 15px 0px rgba(250,250,250,0.8), -10px 0px 8px 0px rgba(250,250,250,0.5), -20px 0px 5px 0px rgba(250,250,250,0.3);
     }
}








@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.not-clickable {
    pointer-events: none;
}
.clickable {
    pointer-events: auto;
}
.left {
    float: left;
}
.right {
    float: right;
}

